scripts/
conf/*
!conf/main.rb
dtr/*
!dtr/TC_demo/*
tests/*
!tests/TC_demo.rb
log/*
lib/*
!lib/config/*
!lib/cooltest/*
lib/cooltest/nap*
!lib/logging/*
!lib/javalib/*
lib/javalib/myblowfish.bat
mct_*
test_TC_*
